site_name: ŚlonzaczQA
site_url: https://slonzaczqa.pl
dev_addr: "127.0.0.1:8765"
site_author: ŚlonzaczQA
site_description: ŚlonzaczQA - meetup na Śląsku dla ludzi związanych z szeroko rozumianą jakością oprogramowania.
copyright: >
  &copy; 2019-2024 ŚlonzaczQA

docs_dir: slonzaczqa
site_dir: docs

# use_directory_urls: true
strict: true

extra:
  homepage: https://slonzaczqa.pl
  social:
    - icon: material/rss
      link: feed_rss_created.xml
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/slonzaczqa
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@slonzaczqa
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/slonzaczqa
    - icon: material/email-open
      link: mailto:kontakt@slonzaczqa.pl
  consent:
    title: Lubisz ciasteczka?
    description: >-
      Używamy ich, aby dostarczyć Ci lepszych treści. Chcesz wiedzieć więcej?
      Zerknij do <a href="/pages/polityka-prywatnosci/" target="_blank">polityki prywatności</a>.
extra_css:
  - assets/stylesheets/slonzaczqa.css

theme:
  name: material
  language: pl
  font:
    code: Lato
  logo: assets/images/slonzaczqa_logo.png
  favicon: assets/images/slonzaczqa_icon.png
  custom_dir: overrides

  palette:

    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
      primary: black
      accent: red

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
      primary: black
      accent: red

  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer  # Prev/Next page
    - navigation.tracking  # Anchor tracking
    - navigation.top  # Back to top
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
    - content.tabs.link

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - sane_lists
  - tables
  - toc:
      permalink: true
      permalink_title: Anchor link to this section for reference
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      auto_title: false
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.saneheaders
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

watch:
  - overrides

plugins:
  - pub-debugger:
      console_log:
        enabled: true
#        show_code_link: true
  - search
  - pub-blog:
      blog_dir: 02_meetup
      slug: meetup
      lang: pl
      translation:
        blog_page_title: Meetup
        blog_navigation_name: Meetup
        recent_blog_posts_navigation_name: Najnowsze spotkania
        archive_page_title: Archiwum
        archive_navigation_name: Archiwum
        categories_page_title: Kategoria
        categories_navigation_name: Kategorie
        tags_page_title: Tag
        tags_navigation_name: Tagi
        newer_posts: Nowsze spotkania
        older_posts: Starsze spotkania
  - rss:
      length: 99
      url_parameters:
        utm_source: slonzaczqa.pl
        utm_medium: RSS
        utm_campaign: feed
      pretty_print: true
      match_path: 02_meetup/[^_][^/]*.md
      date_from_meta:
        as_creation: date
        as_update: update
        datetime_format: "%Y-%m-%d %H:%M:%S"
        default_timezone: Europe/Warsaw
  - pub-obsidian
  - pub-social:
      og:
        locale: pl_PL
  - pub-meta:
      overview:
        default: false
      publish:
        file_warn_on_missing: false
      title:
        warn_on_missing_header: false
        warn_on_missing_meta: false
  - pub-minifier
